{% extends 'base.html.twig' %}

{% block title %}APP page{% endblock %}

{% block body %}

<div class="container mx-auto my-5 w-50">
    <h1 class="my-5">Bienvenue dans SubEvent-exo! ✅</h1>

    Vous avez la possibilité de vous inscrire ou de vous connecter si votre compte a déjà été crée :
    <ul class="my-4">
        <li class="my-2">Connexion au site : <a href="{{ path('app_login') }}" class="btn btn-sm btn-outline-secondary">ici</a></li>
        <li class="my-2">Création de compte : <a href="{{ path('app_register') }}" class="btn btn-sm btn-outline-primary">ici</a></li>
    </ul>

    {% if app.user %}
        <div class="mb-3">
            {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

</div>
{% endblock %}
