<h1>Bonjour! Veuillez confirmer votre mail!</h1>

<p>
    Veuillez confirmer votre adresse mail en cliquant sur ce lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer son mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    à bientôt!
</p>